{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'contact.css' %}" />
    <title>Contact</title>
  </head>
  <body>
    <h1>Welcome to Contact Page</h1>
    <ul>
      <li>Phone: ********</li>
      <li>Email: ********</li>
    </ul>

    <button>Click me</button>
    <script src="{% static 'js/contact.js' %}"></script>
  </body>
</html>
